ENV=dev
ENABLE_OTEL=false
SECRET_KEY=85e6545531e0551b09c9f11f470d7db10979a4b0c1ea9a4605652ef5772dd143
DATABASE__URL=sqlite:///example.db
# DATABASE__URL=postgresql://postgres:postgres@localhost:5432/test

SYSTEM__AUTH__ADMIN_EMAIL=admin@example.com
SYSTEM__AUTH__ADMIN_PASSWORD=test@123
SYSTEM__AUTH__ADMIN_NAME=Admin
