.DS_Store
._.DS_Store
__pycache__/
.idea/
.vscode/
.venv/
.mypy_cache/
.ruff_cache/
.pytest_cache/
# migrations/
logs/

*.sqlite3
*.sqlite3-journal
*.sqlite3-shm
*.sqlite3-wal
*.db
*.db-journal
*.db-shm
*.db-wal

.secret_key
.dev
